<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 14rem;" *ngFor="let productDetails of productList ">
                <img class="card-img-top" [src]="productDetails.imagepath" alt="Bologna">
                <div class="card-body">
                    <h4 class="card-title">{{productDetails.title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{productDetails.subtitle}}</h6>
                    <div class="card-body text-center">
                        <app-rating-events></app-rating-events>
                        <hr>
                        <h6 class="mb-3">
                            <span class="text-danger mr-1">{{productDetails.dangerprice}}</span>
                            <span class="text-grey"><s>{{productDetails.price}}</s></span>
                        </h6>

                        <button type="button" class="btn btn-danger btn-sm mr-1 mb-2">
                         <i class="fa fa-shopping-cart pr-2"><a routerlinkactive="text-danger" routerlink="addtocart"> Add to cart</a></i>
                        </button>
                        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                          <i class="fa fa-info-circle pr-2"><a (click)="details();" routerlink="/Details" >Details</a></i>
                        </button>
                      

                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div> -->