.primary-lighter-hover {
    color: #4285F4;
    -webkit-transition: .4s;
    transition: .4s;
}

.primary-lighter-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: #8ab4f8;
}